body{
  background: linear-gradient(to right top, black, rgba(80, 40, 40, 0.5));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "roboto", "consolas", sans-serif;
}
button{
  background-color: rgba(40, 40, 40, 0.4);
  color: white;
  padding: 90px 30px;
  font-size: 45px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(20, 20, 20);
}

